$blue: rgb(55, 162, 233);
$red: rgb(233, 61, 55);
$green: rgb(55, 233, 159);
$pink: rgb(233, 55, 194);
$gray: rgb(202, 202, 202);

$primaryColor: #111B47;
$secondaryColor: #111B47;

$largeFont: 30px;
$mediumFont: 20px;
$smallFont: 10px;

.flex {
  display: flex;
}
